
        body {
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
        }
        .apimatic-container {
            position: relative;
            top: 200px;
        }
        .run-button {
            margin-right:40px!important;
        }
        .relative-wrapper {
            width:100%;
            position:relative;
            overflow-y:scroll;
        }
        .absolute-wrapper {
            width:100%;
            position:absolute;
        }
        .hosted-api-docs {
            height:300px;
        }
        .portal-header {
            width: 100%;
            min-width:995px;
            height: 111px;
            background:#fff url('') no-repeat no-repeat right;
            position:relative;
            z-index:999;
        }
        .branding-container {
            width: 100%;
            height: 80px;
            padding:0 30px;
            box-sizing: border-box;
        }
        .branding-container .logo {
            width:50%;
            height: 80px;
            float:left;
            margin: 0 auto;
        }
            .branding-container .logo img {
                height: 40px;
                float: left;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            .branding-container .logo p {
                height: 30px;
                line-height: 30px;
                float: left;
                color: #2e323c;
                font-size: 18px;
                margin: 0px 0 0 15px;
                border-left: 1px solid #d9dee5;
                padding-left: 15px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        .branding-container .navigation {
                width: 50%;
                height: 80px;
                float: left;
                position: relative;
                top: 50px;
                transform: translateY(-50%);
                margin: 0 !important;
        }
        .branding-container .navigation ul {
            float:right;
        }
        .branding-container .navigation ul li {
             list-style: none;
             font-size: 14px;
             float: left;
             margin-left: 30px;
             font-size: 13px;
             cursor: pointer;
             color: #999;
        }
        .branding-container .navigation ul li a:hover {
            color: #324251;
         }
        .branding-container .navigation ul li a {
             text-decoration: none;
             color: #999;
             cursor: pointer;
             &:hover {
                color: #324251;
            }
         }
        .portal {
            outline: none;
            border: none;
            width: 100%;
        }
        .portal-header .breadcrumb-container {
            width: 100%;
            height: 31px;
            background: #9a4624;
        }
            .portal-header .breadcrumb-container .left {
                width: 50%;
                float: left;
            }
            .portal-header .breadcrumb-container .right {
                width: 50%;
                float: left;
            }
            .portal-header .breadcrumb-container .breadcrumb-list {
                background: transparent !important;
                margin: 0;
                padding: 5px 0 0 0;
                list-style: none;
                margin-left: 30px;
            }
           .portal-header .breadcrumb-container .breadcrumb-list li {
                    float: left;
                    line-height: 18px;
                }
                    .portal-header .breadcrumb-container .breadcrumb-list li + li {
                        margin-left: 10px;
                    }
                    .portal-header .breadcrumb-container .breadcrumb-list li a {
                        color: rgba(255, 255, 255, 0.6) !important;
                        font-size: 12px;
                        line-height: 18px;
                        text-decoration: none;
                    }
                    .portal-header .breadcrumb-container .breadcrumb-list li.active a {
                        color: white !important;
                        font-size: 12px;
                        line-height: 18px;
                    }
            .portal-header .breadcrumb-container .version-select {
                padding-top: 3px;
                float: right;
                margin-right: 30px;
            }
                .portal-header .breadcrumb-container .version-select label {
                    font-size: 12px;
                    color: white;
                }
                .portal-header .breadcrumb-container .version-select select {
                    width: 130px;
                    height: 20px;
                    background: none;
                    background: #c1582d url('/img/theme/selectArrowDown.svg') no-repeat center;
                    background-position: 95%;
                    border: 1px solid #c1582d;
                    border-radius: 0;
                    -webkit-appearance: none;
                    padding: 1px 4px;
                    color: #fff;
                    font-size: 12px;
		            margin-bottom: 0px;
                    display: inline-block;
                    margin-top: 3px;
                    -webkit-box-sizing:border-box!important;
                    -moz-box-sizing:border-box!important;
                    box-sizing:border-box!important;
                }
                    .portal-header .breadcrumb-container .version-select select option {
                        color: #fff;
                        font-weight: 13px;
                    }
                    .portal-header .breadcrumb-container .version-select select:hover, .portal-header .breadcrumb-container .version-select select:active, .portal-header .breadcrumb-container .version-select select:focus {
                        outline: none;
                        box-shadow: none;
                    }
